# Python 관련 파일들
*.pyc
__pycache__/
.Python
.ipynb_checkpoints/ # Jupyter Notebook 사용 시

# 가상 환경 (Virtual Environment)
venv/
env/
.venv/

# IDE 및 OS 관련 파일
.DS_Store # macOS 관련
.vscode/ # VS Code 관련
.idea/ # PyCharm 관련

# Flask 관련
instance/ # Flask 인스턴스 폴더 (개발 시 생성될 수 있음)

# 기타
*.log # 로그 파일
*.db # 데이터베이스 파일 (SQLite 등)
crawled_naver_news.html # 크롤링 결과 파일 (디버깅용)
